@import-normalize;
@import 'reference-list.css';
@import 'buttons.css';
@import 'navigation-sidebar.css';
@import 'reference.css';
@import 'label-list.css';
@import 'label.css';
@import 'reference-edit.css';
@import 'reference-create.css';
@import 'reference-view.css';
@import 'comment.css';
@import 'comment-list.css';
@import 'comment-form.css';

*, *::before, *::after {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: hsl(0, 0%, 96%);
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  padding: 0;
  margin: 0;
}

.app-container {
  display: flex;
}

.mr-1 {
  margin-right: 5px;
}