.reference-list {
  border-right: 1px solid hsl(0, 0%, 87%);;
  min-height: 100vh;
  width: 58.33%;
  height: 100vh;
}

.reference-list__add-reference-btn-container {
  padding: 12px;
  text-align: right;
  border-bottom: 1px solid hsl(0, 0%, 87%);
  height: 52px;
}

.reference-list__reference-list-container {
  flex-grow: 1;
  overflow: auto;
  height: 92vh;
}

.reference-list__go-back {
  color: hsl(0, 0%, 60%);
}