.reference {
  padding-top: 12px;
  padding-left: 24px;
  padding-bottom: 12px;
  cursor: default;
}

.reference:hover {
  background-color: hsl(210, 8%, 93%);
}

.reference__container {
  background-color: transparent;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.reference__name {
  color: hsl(0, 0%, 33%);
}

.reference__parent {
  color: hsl(0, 0%, 67%);
}

.reference__date {
  color: hsl(0, 0%, 67%);
}

.reference__right {
  margin-right: 24px;
}

.reference__description {
  color: hsl(0, 0%, 33%);
  font-weight: 500;
}