.reference-edit {
  padding: 30px;
  padding-top: 51px;
  position: fixed;
  right: 0;
  top: 50;
  width: 25%;
  overflow-y: auto;
  background-color: hsl(0, 0%, 87%);
  color: hsl(0, 0%, 50%);
  height: 100vh;
}

.reference-edit__remove-button-container {
  text-align: end;
  background-color: inherit;
}

.reference-edit__remove-button {
  padding: 1em 0;
  background: none;
  outline: none;
  border: none;
  font-size: 1.5rem;
  color: hsl(0, 0%, 77%);
}

.reference-edit__details-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  row-gap: 12px;
  column-gap: 12px;
  background-color: inherit;
}

.reference-edit__label {
  background-color: inherit;
}

.reference-edit__input {
  border: 1px solid hsl(0, 0%, 77%);
  border-radius: 3px;
  font-size: inherit;
  padding: 5px 10px;
  outline: none;
  width: 100%;
}

textarea.reference-edit__input {
  resize: none;
  height: 100px;
}

.reference-edit__label-grid,
.reference-edit__comment-grid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, auto);
  margin-top: 20px;
  margin-left: 40px;
  background-color: inherit;
}

.reference-edit__add-label-btn-container,
.reference-edit__add-comment-btn-container {
  margin-top: 20px;
  text-align: center;
  background-color: inherit;
}

.reference-edit__comment {
  background-color: inherit;
}

@media (max-width: 1000px) {
  .reference-edit__details-grid,
  .reference-edit__label-grid,
  .reference-edit__comment-grid {
    grid-template-columns: 1fr;
  }
}

.reference-edit__label-grid div {
  background-color: inherit;
}

.reference-edit__comment-grid div {
  background-color: inherit;
}

.reference-edit__expand {
  color: hsl(0, 0%, 60%);
}

.reference-edit__archive {
  color: hsl(0, 0%, 60%);
}
