.reference-list {
  border-right: 1px solid hsl(0, 0%, 87%);;
  min-height: 100vh;
  width: 58.33%;
}

.reference-list__add-reference-btn-container {
  padding: 12px;
  text-align: right;
  border-bottom: 1px solid hsl(0, 0%, 87%);;
}

.reference-list__reference-list-container {
}